.bg {
    /* Other background styles */
  width: 50%;
  max-width: 80vw; /* Ensure full viewport width */
  height: auto; /* Increase height */
  animation: rotateImage 100s linear infinite; /* Increase duration for slower rotation */
  }
  
  @keyframes rotateImage {
    from {
      transform: rotate(0deg); /* Initial scale */
    }
    to {
      transform:rotate(360deg); /* Increase scale and full rotation */
    }
  }
  
    
  .mb-4{
    color: black;
  }

  .btn{
    background-color: #7766be;
    color: white;
    font-size: large;
  }

 /* Style for the checkbox */

  .control__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #0f0e11; /* Default color for unchecked */
  }
  
  .control--checkbox .control__indicator:after {
    content: "";
    position: absolute;
    display: none;
  }

  .control input:checked ~ .control__indicator:after {
    display: block;

  }
  
  .control input:checked ~ .control__indicator {
    background-color: #8f82c3; /* Change this to the checkbox color when checked */
    border: 1px solid #060607; /* Change border color when checked */
  }
  
  .control--checkbox .control__indicator:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  