.bg {
    /* Other background styles */
  width: 50%;
  max-width: 50vw; /* Ensure full viewport width */
  height: auto; /* Increase height */
    animation: rotateImage 100s linear infinite; /* Increase duration for slower rotation */
  }
  
  @keyframes rotateImage {
    from {
      transform: scale(1) rotate(0deg); /* Initial scale */
    }
    to {
      transform: scale(1) rotate(360deg); /* Increase scale and full rotation */
    }
  }

 
  .mb-4{
    color: black;
  }

  .btn{
    background-color: #7b67cd;
    color: white;
    font-size: large;
  }